.home-page {
  h1 {
    text-align: center;
    strong {
      color: #de8181;
    }
  }
  .content {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de8181;
    iframe {
      width: 100px;
    }
  }
}
