.top {
  background-color: $light-grey;
  background-image: url(../img/polygon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner {
  height: 90vh;
  .banner--row {
    display: flex;
    .banner__lf {
      width: 60%;
      .banner__desc {
        width: 700px;
        padding: 1em;
        background: $color-white;
        box-shadow: 4px 7px 8px 5px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        .banner__title {
          font-size: 2em;
          font-weight: bold;
          margin-bottom: 0;
          line-height: 1.2em;
        }
        .banner__cont {
          font-weight: lighter;
          width: 70%;
        }
      }

      .video--lists {
        margin-top: 2.5em;
        .player--title {
          margin-bottom: 0.5em;
          display: flex;
          align-items: center;
          span {
            font-weight: lighter;
            margin-right: 0.2em;
          }
        }
        .videos--row {
          display: flex;
          justify-content: space-between;
          .video__item {
            width: calc((100% / 4) - 0.5em);
            height: 160px;
            border-radius: 10px;
            border: 1px solid $primary-color;
            position: relative;
            cursor: pointer;
            .preview {
              overflow: hidden;
              height: 100%;
              margin: 0;
              border-radius: 10px;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: brightness(0.5);
              }
            }
            .play {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              display: grid;
              place-items: center;
              svg {
                circle {
                  stroke: $primary-color;
                }
                path {
                  fill: $primary-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.powered--by {
  position: absolute;
  bottom: 6%;
  left: 50%;
  display: flex;
  align-items: center;
  width: 960px;
  transform: translateX(-50%);
  justify-content: flex-end;

  span {
    margin-right: 0.2em;
    color: $color-white;
    font-size: 0.8em;
  }
}
