.color-primary {
  color: $primary-color;
}
.txt-uppercase {
  text-transform: uppercase;
}

.frm--mob {
  display: none;
  @include sm {
    display: block;
  }
}
.only--desk {
  @include sm {
    display: none;
  }
}
