{% extends 'layout/_layout.twig' %} {% block title %} GulpStarter- Bootstrap 5
{% endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<main class="home-page">
  <h1>Welcome To <strong>GulpStarter</strong> with Bootstrap 5</h1>
  <div class="content">
    <iframe src="./img/website.svg" alt=""></iframe>
  </div>
</main>

{% endblock %}
